
.vs/dotnet-groomer/DesignTimeBuild/.dtbcache.v2
.vs/dotnet-groomer/FileContentIndex/149e8fdf-d9d9-4b57-ba32-f767169bbfe8.vsidx
.vs/dotnet-groomer/FileContentIndex/2f574184-49b1-4bce-8b0b-558079126194.vsidx
.vs/dotnet-groomer/FileContentIndex/90418c26-2b05-40ee-bf0a-49f152501852.vsidx
.vs/dotnet-groomer/FileContentIndex/read.lock
.vs/dotnet-groomer/v17/.suo
.vs/dotnet-groomer/v17/TestStore/0/000.testlog
.vs/dotnet-groomer/v17/TestStore/0/testlog.manifest
.vs/dotnet-groomer/FileContentIndex/cf969aac-1bc7-4af3-aa3a-afc0052d88b4.vsidx
.vs/ProjectEvaluation/dotnet-groomer.projects.v6.1
.vs/ProjectEvaluation/dotnet-groomer.metadata.v6.1
.vs/dotnet-groomer/v17/.futdcache.v2
.vs/dotnet-groomer/FileContentIndex/d144d4d8-b7b4-450e-b863-22e8c941faa1.vsidx
.vs/dotnet-groomer/FileContentIndex/6ab88d6f-5532-4dea-83d2-98f79e34036f.vsidx
.vs/dotnet-groomer/FileContentIndex/28559479-62d7-4e76-8127-064ae485247c.vsidx
.vs/dotnet-groomer/config/applicationhost.config
docker.env
.vs/dotnet-groomer/FileContentIndex/142ccfe9-54cc-4ba1-880a-1c5928728b1c.vsidx
.vs/dotnet-groomer/FileContentIndex/b119136b-3aac-409f-93c4-1ee4bf80d364.vsidx
.vs/dotnet-groomer/FileContentIndex/d73104a2-38eb-477e-82c5-aab9d031d985.vsidx
*.vsidx
*.testlog
